body {
    font-family: Nunito, sans-serif;
    color: #1c1c1c;
}
h1,h2,h3{
    font-family: Asap, sans-serif;
    color: #000000;
}
.botao{
    color: #ffffff;
    text-decoration: none;
    padding: 10px 30px;
    background-color: #3604eb;
    font-size: .9em;
    border-radius: 3px;
}
.botao:hover{
    color: #000000;
}


/* Navgaçao */
nav {   
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        background-color: #3604eb
}

nav > a {
            text-decoration: none;
            text-shadow: 3px 3px 3px black;
            color:#fa0000;
            font-weight:800;
            font-size: 32px;
            font-family: Yellowtail, serif;
            
}

nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        list-style: none;
        padding: 0;
        width: 50%;
}
nav ul li{
            text-align: center;    
            width: 50%;  
}
nav ul li a {
            display: inline-block;
            padding: 10px 0;
            width: 50%;
            text-decoration: none;
            text-shadow: 3px 3px 3px black;
            color:#ffffff        
}
nav ul li a:hover{
    color:#23ac08
}
/*Cabeçalho*/

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../img/camera.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color:#ffffff;
    text-align: center;
    padding: 20px;
}

header h1{
    color: #ffffff;
}

header p{
    margin-bottom: 2em;
}

#sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px 10px 20px 20px;
    background-color: #23ac08;
    color: #ffffff;
}
#sobre h2{
    text-shadow: 3px 3px 3px black;
    color: #ffffff;
}

#sobre p{
    margin-bottom: 2.5em;
    max-width: 1000px;
}

/*serviços*/

#Serviços {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

#Serviços h2{
    text-shadow: 2px 2px 4px black;
}

#Serviços div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 30px;
}

#fotos{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

#fotos h2{
    text-shadow: 3px 3px 5px black;
    margin-bottom: 20px;
}

#fotos img{
    width: 100%;
}

#videos{
    display:flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}
#videos h2{
    text-shadow: 3px 3px 5px black;
    margin-bottom: 0px;
}
#videos video{
    width: 100%;
}

/*contato*/
#contatos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}
#contatos h2{
    text-shadow: 3px 3px 5px black;
    color: #000000;
}

/*rodapé*/
footer {
    text-align: center;
    padding: 10px;
    background-color: #3604eb;
    color: #ffffff;

}
footer a {
    text-decoration:none;
    color: #0ff;
}
@media screen and (min-width: 768px){

    /*nav*/
    nav {
            position: fixed;
            top: 10px;
            right: 70px;
            left: 70px;
            flex-direction: row;
            justify-content: space-around;

    }
    nav ul {
            flex-direction: row;
            width: 70%;
    }
    
    /*cabeçalho*/
    header {
            height: 600px;
            height: 40vh;
            justify-content: center;

    }

    /*sobre*/
    #sobre{
        height: 250px;
        height: 30vh;
        justify-content: center;
        min-height: 250px;

    }

    /*serviços*/
    #Serviços {
            flex-direction: row;
            flex-wrap: wrap ;
            align-items: flex-start;
            max-width: 1000px;
            margin: 0 auto;
    }
    #Serviços h2{
        text-align: center;
        width: 100%;
    }
    #Serviços div{
        flex-grow: 1;
        flex-basis: 150px;
        padding: 0 10px;
    }
    /*fotos*/
    #fotos {
        flex-direction: row;
        flex-wrap: wrap;
    }
    #fotos h2{
        width: 100%;
        text-align: center;
    }
    #fotos img{
        width: 33.3333333%;
    }
    /*videos*/
    #videos {
        flex-direction: row;
        flex-wrap:wrap;
    }
    #videos h2{
        width: 100%;
        text-align:center;
    }
    #videos video{
        width: 33.3333333%;
    }
    
    /*contato*/
    #contatos{
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 500px;
        margin: 0 auto;
    }
    #contatos h2, #contatos p {
        width: 100%;

    }
}
